<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <motosale>
    <item id="moto" date="15.10.2014"/>
    <item id="spare" date="15.10.2014"/>
    <item id="equip" date="15.10.2014"/>
  </motosale>
  <ria>
    <item id="moto" date="15.10.2014"/>
    <item id="aqua" date="15.10.2014"/>
    <item id="spare" date="15.09.2014"/>
  </ria>
</configuration>