<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <motosale>
    <item id="moto" date=""/>
    <item id="spare" date=""/>
    <item id="equip" date=""/>
  </motosale>
  <ria>
    <item id="moto" date=""/>
    <item id="aqua" date=""/>
    <item id="spare" date=""/>
  </ria>
</configuration>
